/* vars */
$mobile-width: 480px;
$mobsm-width: 390px;
$tab-width: 760px;

/* external */
@import 'external/normalize';
@import 'external/grid';
// slider
@import 'slider';
/* reusable */
@import 'reuse';
// fonts
@import 'fonts';

body {
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial;
	line-height: 1.8em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #222;
}

a {
	text-decoration: none;
	color: #3fa52b;
	@include animated(all 0.1s);
	&:hover {
		color: #4CC633;
	}
}

header {
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.2);
	.logo {
		display: none;
	}
	.container {
		@media screen and (max-width: $tab-width) {
			width: 95%;
		}
		@media screen and (max-width: $mobile-width) {
			width: 98%;
		}
	}
	.page-nav {
		table {
			margin: 0 auto;
		}
		ul {
			li {
				padding: 1.5em 2.5em;

				@media screen and (max-width: $tab-width) {
					padding: 1.5em 2em;
				}
				@media screen and (max-width: $mobile-width) {
					padding: 1.5em 1.5em;
				}
				@media screen and (max-width: $mobsm-width) {
					padding: 1.5em 1em;
					font-size: 0.7em;
				}
				font-weight: 200;
				float: left;
				text-transform: uppercase;
				@include animated(0.1s);
				&:hover {
					background-color: rgba(0, 0, 0, 0.4);
				}
			}
			a {
				color: #fff;
			}
		}
	}
}

header.secondary {
	@include animated(1s);
	background-color: rgba(0, 0, 0, 0.4);
	.logo {
		@include animated(1s);
		@include transform(translateX(-100%));
	}
	.menu {
		// float: right;
		@include animated(1s);
		@include transform(translateX(30%));
	}
}

footer {
	padding: 1em 2em;
	background-color: #4C5E71;
	color: #fff;
	// width: 100%;
	overflow: hidden;
}

footer.premier {
	background-color: #68819A;
}

.hero {
	background: linear-gradient(to top, #379025, #116569);
	color: #fff;
	box-shadow: 5px 5px 20px #eee;
	position: relative;
	margin: 0;
	.content {
		position: absolute;
		top: 5em;
		width: 100%;
		text-align: center;
	}
}
section {
	border-bottom: 1px solid #eee;
	overflow: hidden;
	margin: 0.7em 0;
	width: 100%;
}

.section-heading {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	span {
		padding-bottom: 0.1em;
		border-bottom: 1px double #222;
	}
}
.team {
	>div {
		padding-bottom: 1em;
	}
	img {
		display: block;
		margin: 0 auto;
		width: 70%;
		border-radius: 50%;

		@media screen and (max-width: $mobile-width) {
			width: 100%;
		}

		&:hover {
			cursor: pointer;
		}
	}
	h2 {
		font-weight: 200;
		text-align: center;
		text-transform: uppercase;
	}
}

#work-list {

	@media screen and (max-width: $mobile-width) {
		padding: 0;
	}
	img {
		max-width: 100%;
	}
	.col-1-3 {
		padding: 1em;

		@media screen and (max-width: $tab-width) {
			padding: 0;
		}
		h2 {
			font-weight: normal;
			text-align: center;
		}
	}
	.work-card {
		min-height: 28em;
		border: 1px solid #eee;
		padding: 1em 1.5em;
		@media screen and (max-width: $tab-width) {
			min-height: 30em;
		}
		position: relative;
	}
}

input[type="text"], textarea {
	padding: 1em 2em;
	border: 1px solid #A9BBAA;
	margin-bottom: 0.4em;
	color: #222;
	font-size: 1.4em;
	width: 100%;
	font-weight: 200;
	@include animated(0.1s);
	border-radius: 8px;
	&:focus {
		outline: inherit;
		background-color: #F7F7F7;
	}
}

textarea {
	height: 6em;
}

button {
	border: 0.2em solid #3FA52B;
	color: #3FA52B;
	font-weight: bold;
	background-color: inherit;
	padding: 0.6em 2em;
	border-radius: 0.2em;
	@include animated(0.1s);
	&:hover {
		background-color: #3FA52B;
		color: #fff;
	}
	&:focus {
		outline: none;
	}
}

.social {
	li {
		float: left;
		padding: 1em;
		font-size: 2em;
		a {
			color: #eee;
			&:hover {
				text-shadow: 0px 0px 5px #222;
			}
		}
	}
}

.act-blackout {
	position: fixed;
	top: 0;
	z-index: 5;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	.act-container {
		z-index: 6;
		margin: 8em auto;
		width: 60em;
		@media screen and (max-width: 1190px) {
			width: 80%;
		}
		position: relative;

		.bt-close {
			color: #444;
			font-size: 1.5em;
			position: absolute;
			top: 0.75em;
			right: 1em;
			font-style: normal;
			font-weight: 100;
			&:hover {
				text-shadow: 0px 0px 0px #444;
				cursor: pointer;
			}
		}
		.act-slide {
			background-color: #fff;
			box-shadow: 1em 1em 10em #444;
			border-radius: 0.5em;
			.act-content {
				padding: 1em 2em;
			}
		}
	}
}

.bottom {
	position: absolute;
	bottom: 1em;
	width: 85%;
	
	button {
		width: 100%;
	}
}

.act-slideshow {
	position: relative;
	overflow: auto;
	width: 100% !important;
	@include noselect();
	li {
		display: block;
		background-size: cover !important;
		background-position: center center !important;
		background-repeat: no-repeat !important;
		min-height: 20em;
		width: 100% !important;
	}
	.prev, .next {
		color: #CDCDCD;
		&:hover {
			color: #eee;
		}
	}
}